* {
  font-family: Helvetica, sans-serif
}


body {
  text-align: center;
  background-color: white;
}


a {
  font-size: 18px;
  color: white;
}


h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}


h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}


p {
  font-size: 21px;
  color: gray;
}


#footer {
  text-align: right;
}
